html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#card img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;

}
#card i{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}